@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important; /* Hide horizontal overflow */
  overflow-y: scroll;
}
.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.header a:hover {
  color: white;
}
/* .neon {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #5735be, 0 0 30px #5735be,
    0 0 40px #0ff, 0 0 70px #5735be, 0 0 80px #00b8cf, 0 0 100px #5735be,
    0 0 150px #00b8cf;

  background: linear-gradient(45deg, #5735be, #00b8cf);
  padding: 2px 10px;
  border-radius: 8px;
  display: inline-block;
} */
.neon {
  padding-right: 6px;
  padding-left: 3px;
  font-family: "Hurricane", cursive;
  font-weight: 400;
  background: -webkit-linear-gradient(
    -86deg,
    #5735be 5%,
    #5735be 53%,
    #00b8cf 91%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: white;
  text-shadow: 0 0 10px #5735be, 0 0 20px #5735be, 0 0 30px #00b8cf,
    0 0 40px #00b8cf, 0 0 50px #00b8cf, 0 0 60px #00b8cf, 0 0 70px #00b8cf;
  position: relative;
}

.neon::after {
  content: "";
  position: absolute;
  bottom: 0px !important;
  left: 0;
  width: 80%;
  height: 4px;
  background: linear-gradient(to right, #5735be, #00b8cf);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: gradientAnimation 2s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.neon2 {
  font-size: 4rem;
  margin: 3rem 0;
  padding: 1rem;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Hurricane", cursive;
  font-weight: 400;
  background: -webkit-linear-gradient(
    -86deg,
    #5735be 5%,
    #5735be 53%,
    #00b8cf 91%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: white;
  text-shadow: 0 0 10px #5735be, 0 0 20px #5735be, 0 0 30px #00b8cf,
    0 0 40px #00b8cf, 0 0 50px #00b8cf, 0 0 60px #00b8cf, 0 0 70px #00b8cf;
  position: relative;
}

.neon::after {
  content: "";
  position: absolute;
  bottom: 0px !important;
  left: 0;
  height: 4px;
  background: linear-gradient(to right, #5735be, #00b8cf);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: gradientAnimation 2s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.hero {
  justify-content: center;
}
.hero .gradient-border {
  border: 7px solid transparent;
  border-image: linear-gradient(45deg, #5735be, #00b8cf) 1;
  border-image-slice: 1;
  box-shadow: 0 0 20px 5px rgba(87, 53, 190, 0.3),
    0 0 20px 5px rgba(0, 184, 207, 0.3), 0 0 25px 5px rgba(87, 53, 190, 0.3);
}
.wrapper {
  position: relative; /* Added to position the .card-box relative to the .wrapper */
}
.card-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  position: absolute;
  top: 20rem; /* Adjusts the position to overlap the image by 1.5rem */
  left: 3rem; /* Adjusts the position to overlap the image by 1.5rem */
  width: calc(
    100% + 3rem
  ); /* Adjusts the width to cover the image and overlap by 1.5rem on each side */
  height: calc(100% + 3rem);
  width: 350px;
  height: 250px;
  padding: 1rem;
  border: 7px solid #5735be;
  background: linear-gradient(to right, #5735be77, #00b7cf8f);
  /* Same gradient background */
  backdrop-filter: blur(100px);
  border-radius: 25px;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}
.card-box p {
  font-size: 16px;
}
.card-box h3 {
  color: #fff;
}
.card-box h4 {
  font-size: 16px;
}

.card-box .profile-image {
  border: 3px solid #5735be;
  border-radius: 50%;
}

ul li {
  list-style-type: none;
  font-size: 24px;
}
.features h2 {
  color: #5735be;
  font-weight: 700;
}
.features .btn {
  background-color: #5735be;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  width: 60%;
}
.features .btn:hover {
  background: linear-gradient(
    45deg,
    rgba(87, 53, 190, 0.8),
    rgba(0, 183, 207, 0.8)
  );
  color: white;
}
.features p {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.features .trust {
  color: #5735be;
  font-size: 28px !important;
  font-weight: bold;
  /* text-align: center; */
}
.features .brands {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.uv .uv_printed {
  text-align: center;
  height: max-content;
  width: 100%;
  background-color: #5735be;
  color: white;
}
.uv .uv_printed h2 {
  font-size: 3rem;
}
.uv .uv_printed p {
  font-size: 1.2rem;
}
.sellers .hed_content {
  text-align: center;
  color: black;
}
.sellers .hed_content h2 {
  font-size: 2rem;
}

.card-slider {
  position: relative;
  display: flex;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  /* Occupy full width */
  scroll-snap-type: x mandatory;
}

.card-slider::-webkit-scrollbar {
  display: none;
}

.cardbox {
  flex: 0 0 auto;
  /* Allow flexibility */
  width: calc(25% - 1rem);
  /* Width of each card including margin */
  margin-right: 1rem;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
}

.cardbox:last-child {
  margin-right: 0;
}

.cardbox .content {
  border: 2px solid #00b8cf;
  background-color: aliceblue;
  width: 95%;
  position: relative;
  padding: 0.5rem;
}

.cardbox .content img {
  width: 100%;
}

.cardbox .content h4 {
  font-size: 15px;
}

.cardbox .content .badge {
  background-color: red;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 0px;
}

.cardbox .content .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 0.5rem;
}

.controls-container {
  position: relative;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  align-items: center;
}
.carousel-control-prev-icon {
  position: absolute;
  left: 680px;
}
.carousel-control-next-icon {
  position: absolute;
  right: 680px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white;
  border-radius: 50%;
  border: 4px solid #00b8cf;
  padding: 20px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (max-width: 991px) {
  .cardbox {
    width: calc(33.333% - 1rem);
    /* Display three slides on tablets */
  }
}

@media (max-width: 767px) {
  .cardbox {
    width: calc(100% - 1rem);
    /* Display one slide on mobile */
  }

  .controls-container {
    margin-top: 1rem;
    /* Adjust margin-top for better spacing on mobile */
  }
}
.hed_content {
  text-align: center;
}
.benifits {
  background-color: #5735be;
  color: #fff;
  padding: 2rem 0;
}

.warranty .wrnty {
  width: 60%;
  background-color: #d5eeff;
  padding: 1rem;
  box-shadow: 5px 5px 20px 5px #8d8d8d;
}
.warranty .wrnty h3 {
  color: #5735be;
  font-weight: bold;
}
.warranty .wrnty p {
  font-size: 18px;
}
.warranty .btn {
  background-color: #5735be;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  width: 300px;
}
.warranty .btn:hover {
  background: linear-gradient(
    45deg,
    rgba(87, 53, 190, 0.8),
    rgba(0, 183, 207, 0.8)
  );
  color: white;
}
.accordion {
  width: 60%;
  margin: auto;
  background-color: #f9f9f9; /* Default background color */
  border-radius: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 2px solid #5735be;
}

.accordion-item {
  background: linear-gradient(45deg, #5735be, #00b8cf);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;
  transition: background 0.3s ease;
}

.accordion-item:hover {
  background: linear-gradient(45deg, #5735beaf, #00b7cfaf);
}

.accordion-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  margin: 10px 0;
}

.accordion-item::after {
  content: "\25B8"; /* Unicode for right arrow */
  float: right;
}

.accordion-item.active::after {
  content: "\25BE"; /* Unicode for down arrow */
}
.slider-container .slider .wrapper {
  margin-top: 5rem;
  margin-bottom: 6rem;
}
.slider-container .slider .cardbox h4 {
  font-size: 14px;
}
.slider-container .slider .wrapper .gradient-border {
  width: 350px;
  height: 350px;
  object-fit: contain;
}
.slider-container .slider .wrapper .card-box {
  top: 6rem;
  left: 1.5rem;
  width: 300px;
  height: 250px;
  gap: 0px;
  background: linear-gradient(to right, #5735be77, #00b7cf8f) !important;
  /* Same gradient background */
  backdrop-filter: blur(100px) !important;
}

/* Responsive styles for the hero section */
@media (max-width: 991px) {
  .carousel-control-prev-icon {
    position: absolute !important;
    left: 100px !important;
  }
  .carousel-control-next-icon {
    position: absolute !important;
    right: 100px !important;
  }
  .slider-container .slider .wrapper {
    margin-top: 3rem; /* Decrease margin top */
    margin-bottom: 4rem; /* Decrease margin bottom */
  }
  .slider-container .slider .wrapper .gradient-border {
    width: 250px; /* Adjust image width */
    height: 250px; /* Adjust image height */
  }
  .slider-container .slider .wrapper .card-box {
    top: 5rem; /* Adjust top position */
    left: 3rem; /* Adjust left position */
    width: 150px; /* Adjust card width */
    height: 200px; /* Adjust card height */
    border-radius: 10px;
    border-width: 2px;
  }
  .slider-container .slider .wrapper .card-box img {
    width: 50px;
  }
  .slider-container .slider .wrapper .card-box h3 {
    font-size: 15px;
  }
  .slider-container .slider .wrapper .card-box p {
    font-size: 12px;
    line-height: 1;
  }
  .slider-container .slider .wrapper .card-box h4 {
    font-size: 10px;
  }
  .hero .wrapper .gradient-border {
    width: 95%;
    margin: auto;
  }
  .col-md-6 {
    width: 100%; /* Make columns full width on smaller screens */
    margin-bottom: 2rem; /* Add some space between columns */
  }
  .features {
    padding: 0 1rem; /* Add horizontal padding to features column */
    text-align: left; /* Center align text */
  }
  .card-box {
    top: 1.5rem; /* Adjust top position */
    left: -1.5rem; /* Reset left position */
    width: calc(100% - 2rem); /* Adjust width to fit screen width */
    height: auto; /* Auto adjust height */
  }
  .brands img {
    width: 90px;
  }
  .uv .uv_printed {
    width: 100%;
  }
  .uv .uv_printed h2 {
    font-size: 2rem;
  }
  .working .steps img {
    width: 150px;
  }
  .working .steps p {
    font-size: 11px;
  }
  .working .steps h4 {
    font-size: 1rem;
  }
  .warranty .wrnty {
    width: 80%;
  }
  .warranty .wrnty p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden !important;
}

  .card-box {
    padding: 0.5rem; /* Reduce padding */
  }
  .card-box h4,
  .card-box p {
    font-size: 14px; /* Reduce font size */
  }
  .card-box .profile-image {
    width: 80px; /* Adjust profile image size */
    height: 80px;
  }
  ul li {
    font-size: 18px; /* Adjust list item font size */
  }
  .slider-container .slider h4 {
    font-size: 10px !important;
  }
  .slider-container .slider h5 {
    font-size: 5px !important;
  }
}

@media (max-width: 575px) {
  html {
    overflow-x: hidden !important;
}
  .features ul li {
    font-size: 12px;
  }
  .features ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .features .btn {
    display: block;
    margin: auto;
  }
  .features p {
    text-align: center;
  }
  .carousel-control-prev-icon {
    margin-top: 1rem;
    position: absolute;
    left: 120px;
  }
  .carousel-control-next-icon {
    margin-top: 1rem;
    position: absolute;
    right: 120px;
  }
  .card-box {
    display: none;
  }
  .card-box h4,
  .card-box p {
    font-size: 12px; /* Further reduce font size */
  }
  .card-box .profile-image {
    width: 60px !important; /* Further adjust profile image size */
    height: 60px !important;
  }
  .features {
    margin-top: -2rem !important;
    text-align: left;
  }
  .margin_adjust {
    margin-left: -2rem !important;
  }
  ul li {
    font-size: 16px; /* Further adjust list item font size */
  }
  .hero .wrapper img {
    width: 90% !important;
    margin: auto;
    display: block;
  }

  .brands img {
    width: 90px;
  }
  .uv .uv_printed h2 {
    font-size: 1.5rem;
  }
  .uv .uv_printed p {
    font-size: 16px;
  }
  .uv .uv_printed {
    padding: 1rem !important;
  }
  .benifits .lists li {
    font-size: 18px;
  }
  .benifits .lists ul {
    margin-bottom: 0;
  }
  .slider-container .slider .wrapper .gradient-border {
    width: 300px; /* Adjust image width */
    height: 250px; /* Adjust image height */
    object-fit: fill;
  }

  .slider-container .slider .wrapper .card-box img {
    width: 80px;
  }
  .slider-container .slider .wrapper .card-box h3 {
    font-size: 25px;
  }
  .slider-container .slider .wrapper .card-box p {
    font-size: 15px;
    line-height: 1;
  }
  .slider-container .slider .wrapper .card-box h4 {
    font-size: 10px;
  }
  .accordion {
    width: 90%;
  }
  .accordion-item {
    font-size: 12px;
  }
  .warranty .btn {
    width: 200px;
    font-size: 15px;
  }
}
